# Backend API
PORT=3001
DATABASE_URL=postgres://logistica:logistica123@localhost:5432/logistica_db
KAFKA_BROKER=localhost:9092
NODE_ENV=development

# Worker
WEBSOCKET_PORT=3002

# Frontend
REACT_APP_API_URL=http://localhost:3001
REACT_APP_WS_URL=http://localhost:3002
